* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: "text-bg-light p-3";
}

a {
  text-align: justify;
  /*text-decoration: none;*/
}

.main-content {
  text-align: center;
}

/*html{
    height: 100%;
}*/
.column_form {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

body {
  /*@extend .column_form;*/
  min-height: 100%;
  text-align: center;
  align-items: center;
  color: rgba(105, 103, 103, 0.968);
  /* animation section */
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.animate__animated.animate__backInDown, .animate__animated.animate__backOutUp {
  --animate-duration: 0.5s;
}

.header {
  margin: 5px;
}

.footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

#products {
  display: flex;
  flex-wrap: wrap;
}
#products .product {
  margin: 5px;
}

