*{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    //background-color: map-get($estilos_generales, background-color);
    background-color:"text-bg-light p-3";
}
a{
    text-align: justify;
    text-decoration: none;
    //background-color: map-get($estilos_generales, background-color);
}

.main-content {
    text-align: center;
}
