@import "globalVariables";
@import "_generals";

.column_form {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}   
body {
    /*@extend .column_form;*/
    min-height: 100%;
    text-align: center;
    align-items: center;
    
    color: map-get($estilos_generales, letters-color);
    /* animation section */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
.bg-light {
    background-color: map-get($estilos_generales, navbar-color);
}
.animate__animated.animate__backInDown, .animate__animated.animate__backOutUp{
    --animate-duration: 0.5s;
  }
#main_form {
    @extend .column_form;
    margin: 30px;
    align-items: center;
    select {
        align-items: center;
        width:20%;
        max-width:90%;
    }
}
#root{
    .container{
        .row{
            #products{
                display: flex;
                flex-wrap: wrap;
                .product {
                    
                }
            }
        }
    }
}
