@import "globalVariables";
@import "_generals";

/*html{
    height: 100%;
}*/
.column_form {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}   
body {
    /*@extend .column_form;*/
    min-height: 100%;
    text-align: center;
    align-items: center;
    
    color: map-get($estilos_generales, letters-color);
    /* animation section */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
} 
.animate__animated.animate__backInDown, .animate__animated.animate__backOutUp{
    --animate-duration: 0.5s;
  }

.header{
    margin: 5px;
}
.footer{
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    //margin-top: auto;
    text-align: center;
    justify-content: space-between;
}
#products{
    display: flex;
    flex-wrap: wrap;
    .product {
        margin: 4px;

    }
}
.count-section {
    background: rgb(234, 227, 227);
    color: rgb(16, 4, 35);
    border-radius: 50px;
    display: flex;
    text-align: center;
    margin: 0px;
    overflow: hidden;
    align-items: center;
    width: 90px;
    height: 28px;
    line-height: 16px;
}

/*#cart_items {
    @if value {
        
    }
}*/


    

